<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BakeScale</a>
    </div>
    <div id="navbar" class="navbar">
      <a type="button" href="#/new" class="btn btn-default navbar-btn">Create</a>
      <a type="button" class="btn btn-default navbar-btn">Sign In</a>
    </div><!-- /.navbar -->
  </div><!-- /.container-fluid -->
</nav>
<div ng-view>

</div>
